.login .login-content {
    width: 550px;
    min-height: 500px;
}
.login {
	margin-top: 150px;
	top: 0px;
}
.center-stripe{
	background-image: url('../../img/car_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}
.center-stripe label{
	color: #fff;
}